<h1>My bookings</h1>
<h2>Requests I've made</h2>

<% if @failed %>
Booking failed - please try again
<% end %>

<ul>
  <% @bookings_requested.each do |booking| %>
  <li>
    <%= space = Space.get(booking.space_id) %>
    Name: <%= space.name %><br>
    Description: <%= space.description %><br>
    Dates: <%= booking.start_date %> to <%= booking.end_date %><br>
    Status: <%= booking.status %> <br>
    <form action="/spaces/<%=booking.space_id%>" method="get" >
      <input type="submit" value="View space">
    </form><br><br>
  </li>
  <% end %>
</ul>
<h2>Requests I've received</h2>
<ul>
<% @bookings.each do |booking| %>
<li>
  Name: <%= booking.space.name %><br>
  Description: <%= booking.space.description %><br>
  <%= booking.status %> for <%= booking.user.name %>
  <form action="/booking/<%=booking.id%> " method="get" >
    <input type="submit" value="Confirm">
  </form>
  <form action="/booking/<%=booking.id%>" method="get" >
    <input type="submit" value="Reject">
  </form><br><br>
</li>
<% end %>
</ul>
