<h1>My bookings</h1>
<h2>Requests I've made</h2>
<ul>
  <% @bookings_requested.each do |booking| %>
  <li>
    <%= space = Space.get(booking.space_id) %>
    Name: <%= space.name %><br>
    Description: <%= space.description %><br>
    Dates: <%= booking.start_date %> to <%= booking.end_date %><br>
    Status: <%= booking.status %> <br>
    <form action="/spaces/<%=booking.space_id%>" method="get" >
      <input type="submit" value="View space">
    </form><br><br>
  </li>
  <% end %>
</ul>
<h2>Requests I've received</h2>
<ul>
<% @owned_spaces.each do |space| %>
<li>
  Name: <%=p space.name %><br>
  Description: <%=p space.description %><br>
  <%=p space.bookings.each { |x| p x.status} %>
</li>
<% end %>
</ul>
